
body {
    background-color: #681f00;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
    font-weight: bold;
    font-family: 'Cinzel', serif;
}

.title {
    background-color: #fff4bd;
    background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");    text-align: center;
    margin: 0 20%;
    border: 15px ridge rgb(204, 160, 102);   
    text-shadow: 1.25px 1.25px 0 rgba(39, 38, 38, 0.6);
}

.instructions {
    background-color: #fff4bd;
    background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
    border: 15px ridge rgb(204, 160, 102);
    margin: 10px 20% 10px;
        
}

h1 {
    font-size: 32px;
    padding: 15px;
    font-weight: bold;
    color: black;

}
p {
    margin: 5px;
    font-size: 22px;
    line-height: 32px;
}

.greybox {
    margin:0 20%;
    display: flex;
    justify-content: space-between;
}

.winsLosses {
    background-color: #fff4bd;
    background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");    
    border: 15px groove rgb(204, 160, 102);
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}

.winLossCount {
    text-align: center;
    font-size: 36px;
    margin: 15px 0;
    
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    display: block;
    content: '';
    clear: both;
}

.target-box {
    width: 300px;
    height: 150px;
    color: black;   
    background-color: #fff4bd;
    background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");    
    border: 15px groove rgb(204, 160, 102);
}

.scoreboard {
    width: 200px;
    height: 150px;
    color: black;   
    background-color: #fff4bd;
    background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");    
    border: 15px groove rgb(204, 160, 102);
}
.scoretext {
    
    border-bottom: 15px groove rgb(204, 160, 102);
    display: flex;
    justify-content: center;
    padding: 5px;
}

.score {
    
    font-size: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.crystalRow {
    margin: 10px 30%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #fff4bd;
    background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");    
    border: 15px groove rgb(204, 160, 102);
}

.crystal{
    height: 60px;
    width: 60px;
    background: #ffffff;
    margin: 0 20px;
}

#targetScore {
    color: black;
    font-size: 75px;
    display: flex;
    justify-content: center;
    align-items: center;       
}

#ruby {
    background: red;
    border: 12px outset darkred;   
    position: relative;
}

#ruby:hover {
    color: white;
    box-shadow: 0 0 30px 0 red;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#ruby:hover:before {
    -webkit-animation: shine 0.5s 0s linear;
    -moz-animation: shine 0.5s 0s linear;
    animation: shine 0.5s 0s linear;
}

#diamond {
    background: cyan;
    border: 12px outset teal;
    position: relative;
}

#diamond:hover {
    color: white;
    box-shadow: 0 0 30px 0 cyan;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#diamond:hover:before {
    -webkit-animation: shine 0.5s 0s linear;
    -moz-animation: shine 0.5s 0s linear;
    animation: shine 0.5s 0s linear;
}

#apatite {
    background: yellow;
    border: 12px outset darkgoldenrod;
    position: relative;
}

#apatite:hover {
    color: white;
    box-shadow: 0 0 30px 0 yellow;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#apatite:hover:before {
    -webkit-animation: shine 0.5s 0s linear;
    -moz-animation: shine 0.5s 0s linear;
    animation: shine 0.5s 0s linear;
}

#emerald {
    background: rgb(30, 216, 30);
    border: 12px outset green;
    position: relative;
}

#emerald:hover {
    color: white;
    box-shadow: 0 0 30px 0 rgb(30, 216, 30);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#emerald:hover:before {
    -webkit-animation: shine 0.5s 0s linear;
    -moz-animation: shine 0.5s 0s linear;
    animation: shine 0.5s 0s linear;
}

.button:before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: white;
    box-shadow: 0 0 15px 3px white;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
  
@-webkit-keyframes shine {
    from {
      opacity: 0;
      left: 0%;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
      left: 100%;
    }
}

 @-moz-keyframes shine {
    from {
      opacity: 0;
      left: 0%;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
      left: 100%;
    }
}

@keyframes shine {
    from {
      opacity: 0;
      left: 0%;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
      left: 100%;
    }
}